.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cardsContainer {
  width: 90vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 1rem 1rem 1rem 1rem;
  background: #f9f9f9;
  min-width: 20%;
}
